<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    {{> header}}
<p>{{toUpper updating project in heroku}} <!--toUpper is a reference to a function ehich we created  -->
</p>

{{> footer}}
</body>


</html>