<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    {{> header}}
<p> updating project in heroku <!--toUpper is a reference to a function which we created  -->
</p>

{{> footer}}
</body>


</html>